
.campo{
    margin: 24px 0;
    font-family: "Montserrat", sans-serif;
}

.campo label{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: block;    /* Posiciona el input al otro renglon */
    margin-bottom: 8px;
}

.campo input{
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.06);
    border: none;
    padding: 30px 20px;
    outline-color: #6278F7;    /* establece el color del contorno de un elemento */
    font-size: 16px;
    box-sizing: border-box;
}

.campo-color input{
    height: 2.5rem;
    padding: 0.3px 1.2rem;
}